
body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color:powderblue;
    height: 60vh;
    display:flex;
    justify-content:center ;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
}
input{
    background: transparent;
    padding: 7px;
    border-radius: 8px;
    border-color:brown;
    
}
.login-form{
    border: 3px solid brown;
    border-radius: 10px;
    padding:70px;
}
label{
    font-size: large;

}
button{  
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    padding: 7px;
    background-color: brown;
    color: white;
    font-weight:900;
    border-radius: 6px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

button:hover{
   background-color: rgb(206, 17, 17); 
}
button:active{
    background-color: rgb(116, 2, 2); 

}

